.green {
	width:750vw;
	height:100vh;
	background-color: #16A950;
}
.lightgreen {
	width:750vw;
	height:100vh;
	background-color: #97D23C
}
.yelow {
	width:750vw;
	height:100vh;
	background-color: #FFEC0C
}
