.pink {
	width:40vw;
	height:30vh;
	background-color:pink 
}

.red {
	width:35vw;
	height:40vh;
	background-color:red;
	
}
.yelow {
	width:35vw;
	height:40vh;
	background-color:yello;
}
.black {
	width:45vw;
	height:35vh;
	background-color:black;
}
