.pink {
	width:20vw;
	height:15vh;
	background-color:pink 
}

.red {
	width:12vw;
	height:20vh;
	background-color:red;
	
}
.yelow {
	width:15vw;
	height:10vh;
	background-color:yello;
}
.black {
	width:15vw;
	height:20vh;
	background-color:black;
}
